
body {
    padding: 0;
    margin: 0;
    
}

input,
ul,
p,
h3,
h4 {
    padding: 0;
    margin: 0;
}
input{border: none}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: none;
    display: block;
}
li,span,input{
    outline: none;
}